<div class="container ubuntu-font">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel">
        <div class="panel-heading">
         <h3 style="text-align: center;"> BMR Calculator </h3>
        </div>
        <div class="panel-body">
          <%= form_for :user,:url=>'/bmr/create' do |f| %>
            <div class="form-group">
              <label>First name</label>
              <%= f.text_field :first_name, autofocus: true,:class => 'form-control text',:required=>true %>
            </div>
            <div class="form-group">
              <label>Last name</label>
              <%= f.text_field :last_name, autofocus: true,:class => 'form-control text',:required=>true %>
            </div>
            
            <div class="form-group">
              <label>Age (Years)</label>
              <%= f.text_field :age, autofocus: true,:class => 'form-control text',:required=>true %>
            </div>
            
            <div class="form-group">
              <label>Gender</label>
              <%= f.select(:gender, ['Male', 'Female'], {include_blank: "Select something"}, { :class => 'form-control text',:required=>true }) %>
            </div>
            
            <div class="form-group">
              <label>Height (Centimeter)</label>
              <%= f.text_field :height, autofocus: true,:class => 'form-control text',:required=>true %>
            </div>

            <div class="form-group">
              <label>Weight (Kilogram)</label>
              <%= f.text_field :weight, autofocus: true,:class => 'form-control text',:required=>true %>
            </div>

            <div class="form-group last">
              <div class="col-sm-offset-4 col-sm-9">
                <%= f.submit "Calculate BMR",:class=>"btn btn-login btn-sm" %>&nbsp;&nbsp;
              </div>
            </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>

